<div class="ui container jumbotron group">
  <h1>
    Develop faster with Scaffolds !
  </h1>

  <p>
    Free HTML templates for your next web project
  </p>

  <%= link_to "Browse free templates", "#", class: "basic ui button all-themes" %>

</div>

<div class="image-cluster">
  <%= image_tag "test2.png", alt: "example-template", class: "template-img" %>
  <%= image_tag "test2.png", alt: "example-template", class: "template-img magnify" %>
  <%= image_tag "test2.png", alt: "example-template", class: "template-img" %>

  <%= image_tag "test2.png", alt: "example-template", class: "template-img" %>
  <%= image_tag "test2.png", alt: "example-template", class: "template-img" %>
  <%= image_tag "test2.png", alt: "example-template", class: "template-img" %>
</div>


